* text=auto eol=lf

*.sh    text eol=lf
*.ps1   text eol=crlf
*.md    text eol=lf
*.py    text eol=lf
*.toml  text eol=lf
*.json  text eol=lf
*.css   text eol=lf
*.txt   text eol=lf

*.png   binary
*.docx  binary
*.epub  binary
*.mp3   binary
